
source/FluidSim/.vs
source/FluidSim/CMakePresets.json
source/FluidSim/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
source/ALL_BUILD.vcxproj
source/ALL_BUILD.vcxproj.filters
source/cmake_install.cmake
source/CMakeCache.txt
*.vcxproj
*.filters
*.sln
source/FluidSim/CMakeFiles
source/FluidSim/cmake_install.cmake
source/CMakeFiles/TargetDirectories.txt
source/CMakeFiles/generate.stamp.list
source/CMakeFiles/generate.stamp.depend
source/CMakeFiles/generate.stamp
source/CMakeFiles/CMakeOutput.log
source/CMakeFiles/cmake.check_cache
source/CMakeFiles/603f29fbf4bd453e2632e01789aa254b/generate.stamp.rule
source/CMakeFiles/3.22.0
*.user
*.tlog
*.pdb
*.log
*.recipe
source/.vs/FluidSim/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.obj
*.ilk
*.exe
*.ipch
source/FluidSim/App/FluidSim.dir/Debug/FluidSim.vcxproj.FileListAbsolute.txt
*.stamp
*.depend
source/FluidSim/App/cmake_install.cmake
source/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
*.vs
CMakeFiles
CMakeCache.txt
cmake_install.cmake
